/* utility classes  */
.bg-fluid {
    background-position: center;
    background-size: cover;
}
.btn-custom{
    border-radius: 30px;
    padding: 8px 15px;
    color: white;
    display: inline-block;
    font-weight: 500;
}
.p-gray {
    color: #888;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.border-btn-custom {
    display: inline-block;
    padding: 2px;
    border-radius: 30px;
    border: 2px solid transparent;
}

/* nav-brand black */
.nav-brand svg {
    width: 80px;
    margin: 10px;
}

.bg-black {
    background-color: black;
}

nav.nav-menu{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1001;
}

/* nav from xs-screen to md-screen devices  */
.logo-container {
    flex-grow: 1;
    flex-basis: auto;
    padding: 5px 10px;   /* same padding like li in expanded nav, so the height will not change */
}


/* using bootstrap's hamburger menu */
.navbar-toggler {
    border-color: rgba(0,0,0,.1);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* nav from lg-screen devices */
.nav-menu ul {
    list-style-type: none;
    align-items: center;
    padding-left: 0;   /* reset for bootstrap  */    
    margin-bottom: 0;  /* reset for bootstrap */
}

.nav-menu ul li {
    padding: 5px 10px;
    font-weight: 600;
}

.nav-menu ul.first-menu {
    flex-grow: 1;
    flex-basis: auto;
}

.nav-menu ul.first-menu img,
.nav-menu img {
    width: 60px;
}

.nav-menu .btn-custom {
    background-color: #333;
}

.nav-menu ul li i.fa-chevron-down {
    font-size: 0.7em;
    color: #aaa;
    margin-left: 5px;
}

nav.nav-menu li.border-btn-custom{
    padding: 2px;
    border-radius: 30px;
    border: 2px solid white;
}

nav.nav-menu li a:hover i,
nav.nav-menu li:hover {
    color: blue;
}
        /* for lens to stay black in hover  */
nav.nav-menu  ul:last-child  li:last-child:hover i{
 color: black;
}

nav.nav-menu li.border-btn-custom:hover{
    border: 2px solid black;
    opacity: 0.8;
}

nav.nav-menu li.border-btn-custom:hover a{
color: white;
}

/* HEADER  */
header .bg-fluid {
    background-image: url(../img/jumbo-bg.png);
}

.jumbo-container {    
    color: white;
    font-weight: 600;
    margin-bottom: 24px;
}

.jumbo-container img {
    width: 70%;
    margin-top: 400px;
    margin-bottom: 24px;
}

.jumbo-container p {
    font-size: 18px;
    margin-top: 24px;
}

#bg-jumbo {
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-name: jumbo-animation;
}

@keyframes jumbo-animation {
    45% {background-image: url(../img/jumbo-bg.png);}
    50% {background-image: url(../img/ratchet-and-clank-wall-paper.jpg);}
    95% {background-image: url(../img/ratchet-and-clank-wall-paper.jpg);} 
}

header .img-container-game img {
    width: 100%;
    border-radius: 20px;
    padding: 3px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 3px solid white;
    opacity: 0.8;
}

header .btn-custom,
section#second .btn-custom {
    background-color: rgb(205, 61, 15);
}

header .border-btn-custom:hover, 
section#second .border-btn-custom:hover{
    border: 2px solid rgb(205, 61, 15);
}

[id^="img-container"] {
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-name: img-animation;
}

#img-container-2{
    animation-delay:5s;
}
#img-container-3{
    animation-delay:10s;
}
#img-container-4{
    animation-delay:15s;
}
#img-container-5{
    animation-delay:20s;
}
#img-container-6{
    animation-delay:25s;
}

@keyframes img-animation {
    0% {border: 3px solid rgba(45, 100, 230); opacity: 1;}
    16% {border: 3px solid rgba(45, 100, 230);opacity: 1;}
    17% {border: 3px solid white;opacity: 0.8;}  
}

/* MAIN  first section*/
section#first {
    margin-top: 96px;
    margin-bottom: 96px;
}

.span-blue {
    color: rgb(6, 117, 207);
    font-weight: bold;
}

section#first  img {
    width: 100%;
}

section#first .btn-custom ,
section#fourth .btn-custom {
    background-color: rgb(45, 100, 230);
}

section#first .row.align-items-center div:nth-child(2) {
    margin-top: 48px;    /* useful for margin in xs-sm devices, without using media query */
}

section#first .img-container-game img{
    width: 60%; 
    opacity: 0.70;   
}

section#first .img-container-game  {
    text-align: center;
}

section#first p {
    font-size: 18px;
}

section#first .col-4.col-md {
    border-bottom: 2px solid white;
}

section#first .border-btn-custom:hover,
section#fourth .border-btn-custom:hover {
    border: 2px solid rgb(45, 100, 230);
}

section#first .col-4.col-md:hover {    
    border-bottom: 2px solid rgb(64, 149, 218);
}

section#first .col-4.col-md:hover img {
    opacity: 1;
    transform: scale(1.1,1.1);

}

/* MAIN second section  */
section#second.bg-fluid {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

section#second.bg-fluid .jumbo-container img {
    margin-top: 24px;
}

 /* MAIN third section  */
.bg-gray-strong {
    background-color: #313131;
    color: white;
    padding-top: 48px;
}  /* usare padding sul fluid o margin sul container  */

section#third h4 {
    margin-top: 24px;
    margin-bottom: 24px;
}

section#third img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 5px;
}

section#third h6 {
    font-weight: bold;
    margin-bottom: 48px;
}

section#third img:hover {
    box-shadow: 0 10px 10px black;
}

/* MAIN forth section  */
section#fourth {
    margin-bottom: 24px;
}

section#fourth h1{
    margin-top: 24px;
}

section#fourth p {
    margin-top: 24px;
    line-height: 22px;
    font-size: 20px;
    margin-bottom: 36px;
}

section#fourth h2 {
    margin-top: 10px;
}


section#fourth img {
    width: 100%;
}
section#fourth .img-container-game:hover img {
    transform: scale(1.1,1.1);
}
section#fourth .border-btn-custom {
    margin-bottom: 24px;
}

/* MAIN fifth section  */
section#fifth {
    background-color: rgb(190, 188, 187);
    font-weight: 600;
}

section#fifth .col-12.col-md-6 img {
    width: 60%;
    margin-top: 36px;  /* useful for margin in xs-sm devices, without using media query */
}

section#fifth p {
    margin-top: 24px;
    margin-bottom: 24px;
}

section#fifth .btn-custom {
    color: rgb(6, 117, 207);
    background-color: rgb(217,218,220);
    font-weight: bold;
}
section#fifth .border-btn-custom {
    margin-bottom: 36px; /* useful for margin in xs-sm devices, without using media query */

}

section#fifth .d-none.d-md-flex img{
    width: 100%;
}

section#fifth .border-btn-custom:hover {
    border: 2px solid rgb(217,218,220);
}

/* MAIN section sixth  */
section#sixth {
    margin-top: 48px;
    margin-bottom: 48px;
}

section#sixth p{
    font-size: 18px;
}
section#sixth img {
    width: 100%;
    margin-top: 48px;
}

/* MAIN section seventh  */
section#seventh {
    background-color: rgb(22, 28, 59);
}

section#seventh .col-12.col-md-6 img {
    width: 60%;
    margin-top: 48px;
}

section#seventh p {
    color: white;
    margin-top: 24px;
    margin-bottom: 24px;
}

section#seventh .btn-custom {
    background-color: white;
    color: black;
    
}

section#seventh .border-btn-custom {
    margin-bottom: 48px;
}

section#seventh .d-none.d-md-flex img {
    width: 100%;
}

section#seventh .border-btn-custom:hover {
    border: 2px solid white;
}

/* MAIN section eighth  */
section#eighth {
    margin-top: 48px;
    margin-bottom: 48px;
}

section#eighth h2{
    margin-bottom: 48px;
}

section#eighth img {
    width: 100%;
    margin-bottom: 48px;
}
section#eighth a:hover img {
    transform: scale(1.1,1.1);
}


/* FOOTER  */
footer {
    padding-top: 48px;
    background-color: rgb(0, 67, 156);
    color: white;
}

footer i.fa-globe {
    font-size: 1.5em;
    margin-right: 10px;
}

footer svg path {
    fill: white;
}

footer ul {
    list-style-type: none;
    margin-top: 5px;
}
footer ul li {
    margin-bottom: 10px;
}

footer svg {
    width: 150px;
}

footer .footer-item {
    margin-bottom: 48px;
}

footer .footer-item:last-child svg {
    margin-bottom: 12px;
}

