/* utility classes  */
.bg-fluid {
    background-position: center;
    background-size: cover;
}
.btn-custom{
    border-radius: 30px;
    padding: 8px 15px;
    color: white;
    display: inline-block;
    font-weight: 500;
}
.btn-custom-gray {
    background-color: #545454;
}
.btn-custom-orange {
    background-color: rgb(205, 61, 15);
}
.btn-custom-blue {
    background-color: rgb(45, 100, 230);
}

/* black nav  */
.nav-brand {
    display: flex;
    justify-content: flex-end;
}
.nav-brand svg {
    width: 80px;
    margin: 10px;
}

.bg-black {
    background-color: black;
}

.nav-menu{
    display: flex;
    align-items: center;
    width: 100%;
}

/* nav until lg-screen  */
.logo-container {
    flex-grow: 1;
    flex-basis: auto;
}
.hamburger-menu i.fa-bars {
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #888;
    padding: 5px 10px;
}

/* nav from lg-screen */
.nav-menu ul {
    display: none;
    list-style-type: none;
    align-items: center;
    padding-left: 0;   /* reset for bootstrap  */    
    margin-bottom: 0;  /* reset for bootstrap */
}

.nav-menu ul li {
    padding: 5px 10px;
    font-weight: 600;
}

.nav-menu ul.first-menu {
    flex-grow: 1;
    flex-basis: auto;
}
.nav-menu ul li i.fa-chevron-down {
    font-size: 0.7em;
    color: #aaa;
    margin-left: 5px;
}

/* HEADER  */
header .bg-fluid {
    background-image: url(../img/jumbo-bg.png);
}
.jumbo-container {    
    color: white;
    font-weight: 600;
    margin-bottom: 24px;
}
.jumbo-container * {
    margin-bottom: 24px;
}
.jumbo-container img {
    width: 70%;
    margin-top: 400px;
}

.jumbo-container p {
    font-size: 18px;
}

header .img-container-game img {
    width: 100%;
    border-radius: 20px;
    padding: 3px;
    border-radius: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 2px solid white;

}

header .img-container-game img:hover {
    border: 2px solid rgb(64, 149, 218);
}

/* MAIN  first section*/
section#first {
    margin-top: 96px;
    margin-bottom: 96px;
}
.span-blue {
    color: rgb(6, 117, 207);
    font-weight: bold;
}

.p-gray {
    color: #888;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
}

section#first  img {
    width: 100%;
}

section#first .row.align-items-center div:nth-child(2) {
    margin-top: 48px;    /* useful for margin in xs-sm devices, without using media query */
}

section#first .img-container-game img{
    width: 60%;    
}

section#first .img-container-game  {
    text-align: center;
}

section#first p {
    font-size: 18px;
}

section#first .col-4.col-md {
    border-bottom: 2px solid white;
}

section#first .col-4.col-md:hover {    
    border-bottom: 2px solid rgb(64, 149, 218);
}

/* MAIN second section  */
section#second.bg-fluid {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

section#second.bg-fluid .jumbo-container img {
    margin-top: 24px;
}

 /* MAIN third section  */
.bg-gray-strong {
    background-color: #313131;
    color: white;
    padding-top: 48px;
}  /* usare padding sul fluid o margin sul container  */

section#third h4 {
    margin-top: 24px;
    margin-bottom: 24px;
}

section#third img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 5px;
}

section#third h6 {
    font-weight: bold;
    margin-bottom: 48px;
}

/* MAIN forth section  */
section#fourth {
    margin-bottom: 24px;
}
section#fourth h1{
    margin-top: 24px;
}
section#fourth p {
    margin-top: 24px;
    line-height: 22px;
    font-size: 20px;
    margin-bottom: 36px;
}

section#fourth img {
    width: 100%;
}
section#fourth .btn-custom {
    margin-bottom: 24px;
}

/* MAIN fifth section  */
section#fifth {
    background-color: rgb(190, 188, 187);
    font-weight: 600;
}
section#fifth .col-12.col-md-6 img {
    width: 60%;
    margin-top: 36px;  /* useful for margin in xs-sm devices, without using media query */
}
section#fifth p {
    margin-top: 24px;
    margin-bottom: 24px;
}
section#fifth .btn-custom {
    color: rgb(6, 117, 207);
    background-color: rgb(217,218,220);
    font-weight: bold;
    margin-bottom: 36px; /* useful for margin in xs-sm devices, without using media query */
}

section#fifth .d-none.d-md-flex img{
    width: 100%;
}

/* MAIN section sixth  */
section#sixth {
    margin-top: 48px;
    margin-bottom: 48px;
}

section#sixth p{
    font-size: 18px;
}
section#sixth img {
    width: 100%;
    margin-top: 48px;
}

/* MAIN section seventh  */
section#seventh {
    background-color: rgb(22, 28, 59);
}
section#seventh .col-12.col-md-6 img {
    width: 60%;
    margin-top: 48px;
}
section#seventh p {
    color: white;
    margin-top: 24px;
    margin-bottom: 24px;
}
section#seventh .btn-custom {
    background-color: white;
    color: black;
    margin-bottom: 48px;
}
section#seventh .d-none.d-md-flex img {
    width: 100%;
}



















@media only screen and (min-width: 992px) {
    .logo-container,
    .hamburger-menu {
        display: none;
    }

    .nav-menu ul {
        display: flex;
    }
}