/* utility classes  */
.btn-custom{
    border-radius: 30px;
    background-color: #545454;
    padding: 8px 15px;
    color: white;
    display: inline-block;
    font-weight: bold;
}
.btn-custom-orange {
    background-color: rgb(205, 61, 15);
}
.btn-custom-blue {
    background-color: rgb(45, 100, 230);
}

/* black nav  */
.nav-brand {
    display: flex;
    justify-content: flex-end;
}
.nav-brand svg {
    width: 80px;
    margin: 10px;
}

.bg-black {
    background-color: black;
}

.nav-menu{
    display: flex;
    align-items: center;
    width: 100%;
}

/* nav until lg-screen  */
.logo-container {
    flex-grow: 1;
    flex-basis: auto;
}
.hamburger-menu i.fa-bars {
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #888;
    padding: 5px 10px;
}

/* nav from lg-screen */
.nav-menu ul {
    display: none;
    list-style-type: none;
    align-items: center;
    padding-left: 0;   /* reset for bootstrap  */    
    margin-bottom: 0;  /* reset for bootstrap */
}

.nav-menu ul li {
    padding: 5px 10px;
    font-weight: bold;
}

.nav-menu ul.first-menu {
    flex-grow: 1;
    flex-basis: auto;
}
.nav-menu ul li i.fa-chevron-down {
    font-size: 0.7em;
    color: #aaa;
    margin-left: 5px;
}



/* HEADER  */
.bg-fluid {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.jumbo-container {    
    color: white;
    font-weight: bold;
}
.jumbo-container * {
    margin-bottom: 24px;
}
.jumbo-container img {
    width: 70%;
    margin-top: 400px;
}

.jumbo-container p {
    font-size: 18px;
}


.img-container-game img {
    width: 100%;
    border-radius: 20px;
    padding: 3px;
    border-radius: 20px;
    border: 2px solid rgb(64, 149, 218);
    margin-top: 24px;
    margin-bottom: 24px;
}

/* MAIN  */
section#first {
    margin-top: 96px;
    margin-bottom: 96px;
}
section#first span {
    color: rgb(6, 117, 207);
    font-weight: bold;
}

section#first p {
    color: #888;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 18px;

}

section#first img {
    width: 100%;
}













@media only screen and (min-width: 992px) {
    .logo-container,
    .hamburger-menu {
        display: none;
    }

    .nav-menu ul {
        display: flex;
    }
}